/* css jumbotron */
.jumbotron {
  background: lightblue url(img/hagologo.jpg) no-repeat top center;
  text-align: center;
}
.jumbotron .display-4 {
  color: orange;
  font-size: 60px;
  text-shadow: 4px 3px #000000;
  font-family: algarian;
}
.jumbotron .lead {
  color: white;
  margin-top: 40px;
  text-shadow: 4px 3px #000000;
  font-family: algarian;
  border-color: #f05f40;
  width: 60px;
  border-width: 3px;
}
.jumbotron .btn {
  background-color: #f05f40;
  border: none;
  border-radius: 30px;
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 55px;
}
